# Each [Section] is one job
# Keys are case-insensitive
#Const VERSION      = "1"
#Const RELEASE_DATE = ""
#Const UTILITY_NAME = "Folder_Size_Analyzer"
#Mode = Folders / Files / Both

[Job1]
ScanFolder=
OutputFolder=
Mode=Folders
MaxDepth = 0 # optional 
Debug = 0 #Optional

[Job2]
ScanFolder=
OutputFolder=
Mode=Folders
MaxDepth = 0 # optional 
Debug = 0 #Optional
